<form #formulario="ngForm">
    <input type="checkbox"
        name="withLogo"
        id="withLogo"
        value="with logo"
        [checked]="!!logo"
        (click)="changeLogo()" />
    <label for="withLogo">With logo</label>
    <br /><br />
    <input type="checkbox"
        name="withManyMenus"
        id="withManyMenus"
        [checked]="menuLong"
        (click)="changeMenuLong()" />
    <label for="withManyMenus">With long menu</label>
    <br /><br />
    <input type="checkbox"
        name="withSemanticItem"
        id="withSemanticItem"
        [checked]="showSemantic"
        (click)="changeSemanticItem()" />
    <label for="withSemanticItem">With semantic item</label>
    <br /><br />
    <input type="checkbox"
        name="loadingMenu"
        id="loadingMenu"
        (click)="showLoadingMenu()" />
    <label for="loadingMenu">Loading Menu</label>
    <br /><br />
</form>