<p>
    <span *ngFor="let item of breadcumbPath; let i = index">

        <span *ngIf="breadcumbPath.indexOf(item) !== breadcumbPath.length - 1">
            <a [class.clicable-path]="item.clicable"
                [class.no-clicable-path]="!item.clicable"
                (click)="selectedItem(item)"> {{item.item.displayName}}</a>
            &nbsp;&nbsp;>&nbsp;&nbsp;
        </span>
        <span *ngIf="breadcumbPath.indexOf(item) === breadcumbPath.length - 1"
            style="font-weight: 600;">
            {{item.item.displayName}}
        </span>
    </span>
</p>