.clicable-path {
    color: #009ac5;
    font-weight: 500;
    &:hover {
        color: #00b7ea;
        text-decoration: underline;
        cursor: pointer;
    }
}

.no-clicable-path {
    color: black;
    font-weight: 400;
}