<div *ngIf="loadingMenu"
  class="loading-urbaser-gif">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div *ngIf="!loadingMenu"
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar [ngClass]="classes && classes.toolbarClass ? classes.toolbarClass: 'mat-toolbar-class'"
    class="example-toolbar toolbar-height">
    <div>
      <div class="name-toolbar-wrapper"
        [class.without-logo]="!logoToolbar">
        <img *ngIf="logoToolbar"
          class="logo-toolbar"
          [src]="logoToolbar"
          width="20px"
          height="20px" />
        <h1 [@hideText]="firstSideNavOpen ? '0' : '1'"
          class="example-app-name {{classes?.textAppClass}}">Nombre App</h1>
      </div>
    </div>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loadingMenu"
    mode="indeterminate"></mat-progress-bar>
  <mat-sidenav-container *ngIf="!loadingMenu"
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 45 : 0">
    <mat-sidenav #snav
      [@fadeInOutFirstSlider]="firstSideNavOpen ? '0' : '1'"
      class="mat-elevation-z3"
      style="max-height: 100%"
      [opened]="true"
      [mode]="'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="45">
      <mat-nav-list>
        <div class="panel-list-wrapper">
          <div class="div-arrow-icon"
            [class.rotate-icon]="firstSideNavOpen"
            (click)="toggleSideNav()">
            <mat-icon>double_arrow</mat-icon>
          </div>
          <div class="list-wrapper"
            [ngClass]="{'no-logo': !logo || !firstSideNavOpen}">
            <div *ngIf="logo && firstSideNavOpen"
              class="background-image-urbaser"
              [ngStyle]="{backgroundImage: 'url(' + logo + ')'}"></div>
            <div class="nav-list-item-menu {{classes?.itemFirstLevelClass}}"
              [ngClass]="{'active': item.active, 'semantic-tag': item.isSemantic, 'separator-tag': item.isSeparator }"
              (click)="navigate(item)"
              *ngFor="let item of menu">
              <i [matTooltip]="item.displayName"
                *ngIf="item.icon"
                [style.color]="item.icon.color"
                class="{{item.icon.type || 'material-icons'}}">{{item.icon.name}}</i>
              <div class="wrap-text"
                [class.wrap-text-semantic]="item.isSemantic"
                [class.wrap-text-separator]="item.isSeparator"
                [matTooltip]="item.displayName"
                [matTooltipShowDelay]="500">
                <span [@hideText]="firstSideNavOpen ? '0' : '1'">
                  {{!item.isSemantic && !item.isSeparator ? item.displayName : item.displayName | uppercase }}
                </span>

                <div *ngIf="item.isSemantic"
                  class="semantic-line"></div>
              </div>
              <div class="children-dots"
                [ngClass]="classes?.separatorChildrenClass"
                *ngIf="item.children && item.children.length
                      && childrenMark === 'dots'">
                {{ firstSideNavOpen ? '...' : '.'}}
              </div>
              <div [ngClass]="classes?.separatorChildrenClass"
                class="children-circle"
                *ngIf="item.children && item.children.length
                      && (!childrenMark || childrenMark === 'circle')">
              </div>
              <div *ngIf="item.isSeparator"
                class="separator-line"></div>
            </div>

          </div>
          <!-- <div *ngIf="logo && firstSideNavOpen"
            class="logo-wrapper">
            <img class="logo-menu"
              [src]="logo" />
            <span class="version-info">v{{ version }}</span>
          </div> -->
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [@fadeInOutFirstContent]="firstSideNavOpen ? '0' : '1'">
      <div class="breadcumb">
        <!-- <p [innerHTML]="breadcumbPath | breadcumb"></p> -->
        <app-breadcumb [breadcumbPath]="breadcumbPath"
          (breadcumbSelected)="breadcumbPathSelected($event)"></app-breadcumb>

      </div>
      <mat-sidenav-container class="example-sidenav-container height-second-container"
        [style.marginTop.px]="0">
        <mat-sidenav #secondSnav
          [@fadeInOutSecondSlider]="secondSideNavOpen ? '0' : '1'"
          [mode]="'side'"
          [fixedInViewport]="mobileQuery.matches"
          fixedTopGap="77">
          <mat-nav-list>
            <span>
              <div class="div-arrow-icon"
                [class.rotate-icon]="secondSideNavOpen"
                (click)="toggleSecondSideNav()">
                <mat-icon>double_arrow</mat-icon>
              </div>
              <div *ngIf="secondSideNavOpen"
                class="list-wrapper-second-menu">
                <div class="nav-list-item-menu"
                  class="{{classes?.itemSecondLevelClass}}"
                  [ngClass]="{'active-children active': item.active, 'semantic-tag': item.isSemantic, 'separator-tag': item.isSeparator}"
                  (click)="navigateChildrenItem(item)"
                  *ngFor="let item of secondMenu">
                  <i [matTooltip]="item.displayName"
                    *ngIf="item.icon"
                    [style.color]="item.icon.color"
                    class="{{item.icon.type || 'material-icons'}}">{{item.icon.name}}</i>
                  <div class="wrap-text"
                    [class.wrap-text-semantic]="item.isSemantic"
                    [class.wrap-text-separator]="item.isSeparator"
                    [matTooltip]="item.displayName"
                    [matTooltipShowDelay]="500">
                    {{!item.isSemantic && !item.isSeparator ? item.displayName : item.displayName | uppercase}}
                    <div *ngIf="item.isSemantic"
                      class="semantic-line"></div>
                  </div>
                  <div class="children-dots"
                    [ngClass]="classes?.separatorChildrenClass"
                    *ngIf="item.children && item.children.length
                        && childrenMark === 'dots'">
                    ...
                  </div>
                  <div class="children-circle"
                    [ngClass]="classes?.separatorChildrenClass"
                    *ngIf="item.children && item.children.length
                          && (!childrenMark || childrenMark === 'circle')">
                  </div>
                  <div *ngIf="item.isSeparator"
                    class="separator-line"></div>
                </div>
              </div>
            </span>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content [class.sidebar-container]="!thirdMenu || !thirdMenu.length"
          [@fadeInOutSecondContent]="secondSnav.opened ? (secondSideNavOpen ? '0' : '1') : '2'">
          <div [@.disabled]="true">
            <nav mat-tab-nav-bar
              *ngIf="thirdMenu && thirdMenu.length">
              <a mat-tab-link
                *ngFor="let link of thirdMenu"
                [routerLink]="link.route"
                routerLinkActive
                [ngClass]="classes?.itemThirdLevelClass"
                [active]="link.active"
                #rla="routerLinkActive"
                (click)="navBarChange(link)">
                <i *ngIf="link.icon"
                  class="material-icons icon-tab"
                  [ngStyle]="{'color': link.icon.color}">{{link.icon.name}}</i>
                {{link.displayName}}
              </a>
            </nav>
          </div>


          <div [class.sidebar-container]="thirdMenu && thirdMenu.length">
            <router-outlet></router-outlet>
            <button (click)="resetMenu()">Reset Menu</button>

          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>