.loading-urbaser-gif {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/urbaser_img_.png');
    background-position: 50% 40%;
    background-repeat: no-repeat;

    i {
        position: absolute;
        top: calc(50% - 6px);
        left: calc(50% - 18px);
        font-size: 36px;
        color: #2005a2;
    }
}



.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-list-item-content {
    font-family: sans-serif !important;
    font-size: 14px !important;
}

mat-sidenav {
    overflow: hidden;
}

.mat-drawer-inner-container {
    overflow-x: hidden !important;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

mat-nav-list, .panel-list-wrapper {
    height: 100%;
}

.list-wrapper {
    overflow: auto;
    overflow-x: hidden;
    &.logo {
        height: calc(75% - 37px);
        border-bottom: 5px solid;
        border-image: conic-gradient(#2004a1, #8ba19b, #5bbf13, #2004a1, #5cbf14, #8ca19c) 1;
        border-image-slice: 1;
    }
    &.no-logo {
        height: calc(100% - 32px);
    }
    &.close::-webkit-scrollbar {
        width: 6px;
    }
    &.open::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px grey; 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1; 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #a7a6a6; 
    }

}

.list-wrapper-second-menu {
    height: calc(100% - 32px);
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px grey; 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1; 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #a7a6a6; 
    }

}

.logo-wrapper {
    height: 25%;
}

.mat-list-base {
    padding-top: 0px !important;
}
.firstItemSelectedPrueba {
    &.active {
        background-color: blueviolet !important;
        color: white !important;
    }
    &:hover {
        background-color: brown !important;
    }
}
.secondItemSelectedPrueba {
    &:hover {
        background-color: cadetblue !important;
    }
}

.thirdItemSelectedPrueba {
    &.active {
        background-color: cornflowerblue !important;
        color: white !important;
    }
    &:hover {
        background-color: crimson !important;
    }
}
.textAppClassPrueba {
    background-color: blueviolet !important;
}

.nav-list-item-menu {
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    height: 37px;
    position: relative;
    i {
        padding-right: 5px;
    }
    &.active {
        // font-weight: bold;
        background-color: #dfebfe;
    }
    &.active-children {
        background-color: #dfebfe;
        font-style: italic;
    }
    &:hover:not(.active) {
        // font-weight: bold;
        background-color: #dfebfe;
        opacity: 0.8;
    }
    .children-dots {
        position: absolute;
        right: 8px;
        font-size: 20px;
        top: 7%;
    }
    .children-circle {
            position: absolute;
            right: 8px;
            top: calc(50% - 10px);
            width: 2px;
            height: 2px;
            border-radius: 100%;
            background-color: black;
    }
}
.separatorChildrenClassPrueba {
    background-color: #08498d !important;
}

.mat-list-item-content {
    padding: 0 5px !important;
}

.div-arrow-icon {
    position: relative;
    height: 30px;
    border-bottom: 1px dashed #d4d4d4;
    cursor: pointer;
    border-top: 1px solid transparent;
    mat-icon {
        font-size: 14px;
        position: absolute;
        right: -5px;
        font-weight: 100;
        color: #b3b3b3;
        top: 8px;
    }
}

.rotate-icon mat-icon{
    transform: rotate(180deg);
    top: -2px !important;
    right: 6px !important;
}

.breadcumb {
    height: 31px;
    border-bottom: 1px solid #afafaf;
    display: flex;
    align-items: center;
    padding-left: 10px;
    p {
        margin: 0;
    }
}

.height-second-container {
    height: calc(100% - 32px);
}

.wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.semantic-tag, .separator-tag {
    cursor: default !important;
    height: 25px;
    margin-top: 10px;
    i {
        font-size: 20px !important;
    }
    .wrap-text {
        font-size: 11px;
    }
}

.wrap-text-semantic {
    display: flex;
    align-items: center;
    .semantic-line {
        width: 100%;
        margin-left: 5px;
        height: 1px;
        background: #bbbbbb;
    }

}

.wrap-text-separator {
    font-weight: bold;
    font-size: 13px;
}
.separator-line{
    height: 1px;
    background-color: #b3b3b3;
    width: 92%;
    position: absolute;
    bottom: 2px;
}

.logo-menu {
  display: block;
  position: absolute;
  width: 200px;
  max-width: 200px;
  max-height: 20%;
  bottom: 1em;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
}

.version-info {
  position: absolute;
  width: 65px;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 0.7em;
  padding: 0.5em 0;
  align-self: flex-end;
  font-weight: bold;
}

.mat-progress-bar-fill::after {
    background-color: #1E457C;
}

.mat-progress-bar-buffer {
    background: #E4E8EB;
}

.mat-progress-bar {
    border-radius: 2px;
}

.mat-ink-bar {
    transition: none !important;
}

.background-image-urbaser {
    // background-image: url('../assets/images/cascada.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: calc(100% - 32px);
    position: absolute;
    opacity: 0.5;
}



.mat-toolbar-class {
    color: white;
    background-color: #475ac5;
}

.toolbarClassPrueba {
    background-color: #08498d;
    color: white;
}

.toolbar-height {
    height: 45px !important;
    position: relative;
}

.name-toolbar-wrapper {
    display: flex;
    position: absolute;
    top: 20%;
    left: 0;
    &.without-logo {
        left: 30px !important;
    }
    img {
        margin-left: 10px;
        margin-top: 5px;
    }
}

.sidebar-container {
    padding: 20px;
}

.icon-tab {
    margin-right: 10px;
}